/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome.eot');
	src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome.svg#fontawesome') format('svg'),
		url('../fonts/fontawesome.woff') format('woff'),
		url('../fonts/fontawesome.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body, html { font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
    background: #e9e9e9;
    font-family: 'Lato', Calibri, Arial, sans-serif;

}

a {
	text-decoration: none;
}

a:hover {
	color: #513939;
}

.main,
.container > header {
	width: 90%;
	max-width: 70em;
	margin: 0 auto;
	padding: 0 1.875em 3.125em 1.875em;
}

.container > header {
	padding: 2.875em 1.875em 1.875em;
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0;
	float: left;
	font-weight: 400;
}

.container > header nav {
    position: relative;
    right: 0;
    left: 0;
    
}

.container > header nav a {
	display: block;
    float: right;
	position: relative;
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
	color: transparent;
	margin: 0 0.1em;
    background: url(../images%20/homeicon2.png);
    background-position: center;
    background-size: contain;
	border: 4px solid #513939;
	
}

.container > header nav a:after {
	content: attr(data-info);
	color: #513939;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	opacity: 0;
	pointer-events: none;
}

.container > header nav a:hover:after {
	opacity: 1;
}

.container > header nav a:hover {
	border: 4px solid #fff;
}


.container > header nav a:hover:before {
	color: #fff;
}

.icon-arrow-left:before {
	content: "\f060";
}

