/*
   WDDS    WDD WDDSWDD   DSWDDSW    DDSWDDSW 
   DSW    DDSW DSWDDSWD  WDDSWDDS  DSWDDSWDD                                  
   DSW     DDS DSW   WDD WDD   DSW DSWDDSW   
   SWDDSWD SWD SWDD  DDS DDSW  SWD  WDDSWDDS  
   DDSWDDSWDD  DDS   SWD SWD   DDS      DSWD  
   SWDDSWDDSW  SWD  WDDS DDS  DSWD SWDDSWDDS  
  WDDSW DSWDD WDDSWDDSW DSWDDSWDD WDDSWDDSW   
  DSWD   DDSW DSWDDSWD  WDDSWDDS  DSWDDSWD    

Designed by Craig Anthony White II
Start Date: June 1st, 2015 | Finish Date: ??? 
--*/

/* WDDS Custom Stylesheet */

/* WDDS Site Outline */

/* 
------- Table of Contents ------

I.       General CSS
II.     Home Button & Homescreen Panel CSS
            i.  Panel Content
III.    Navigation Bar CSS
            i.  Navigation Bar Contents
 
------------------------------------ 
*/

/* ----------- General CSS ---------- */

@charset "UTF-8";

body{
    border-radius: 0.4rem 0.4rem 0.2rem 0.2rem;
    font-family: Open Sans, sans-serif;
    height: 100%;
    overflow-x: hidden; 
}

header{
background-color: #383838;
width: 100%;
padding: 30px 0px;
height: 50%;
}

/* ----------- End of General CSS ---------- */

/* ----------- Begininng of Landing Panel CSS ---------- */

#landing{
background-color: white;
border-radius: 0.4rem 0.4rem 0.2rem 0.2rem;
overflow: hidden;
}

#landing_panel{
background:
/* top, transparent gray, made with gradient */ 
linear-gradient(rgba(139, 137, 137, 0.45), rgba(205, 201, 201, 0.45)), /* image behind overlay */url(../images/520entrance.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: top left;
background-attachment: fixed;
height: 100vh;
padding: 3rem;
}

#landing_title, #landing_subtitle{
color: white;
font-family: Open Sans Condensed, sans-serif;
font-weight: 700;
text-align: center;
}

#landing_title{
display: inline-block;
font-size: 4vw;
margin-bottom: 1.7rem;
text-transform: uppercase;
}

#landing_subtitle{
display: block;
position: absolute;
top: 500px;
left: 0;
right:0;
margin: 0 auto;
width: 100%;
}

.grow_border{
right: 0;
left: 0;
top: 330px;
margin: 0 auto;
width: 50vw;
position: absolute;
padding: 2rem;
letter-spacing: 10px;
text-indent: 10px;
box-shadow: inset -0.4rem 0 0 0 transparent, inset 0.4rem 0 0 0 transparent;
-webkit-animation: fadeInBorders 0.48s 1.9s ease-in-out forwards;
-moz-animation: fadeInBorders 0.48s 1.9s ease-in-out forwards;
-ms-animation: fadeInBorders 0.48s 1.9s ease-in-out forwards;
-o-animation: fadeInBorders 0.48s 1.9s ease-in-out forwards;
animation: fadeInBorders 0.48s 1.9s ease-in-out forwards;
}

.grow_border:before, .grow_border:after{
content: "";
position: absolute;
height: 0.4rem;
width:0%;
background-color: white;
}

.grow_border:before{
left:0;
top:0;
-webkit-animation: grow 2s ease-in-out forwards;
-moz-animation: grow 2s ease-in-out forwards;
-ms-animation: grow 2s ease-in-out forwards;
-o-animation: grow 2s ease-in-out forwards;
animation: grow 2s ease-in-out forwards;
}

.grow_border:after{
bottom:0;
right:0;
-webkit-animation: grow 2s ease-in-out forwards;
-moz-animation: grow 2s ease-in-out forwards;
-ms-animation: grow 2s ease-in-out forwards;
-o-animation: grow 2s ease-in-out forwards;
animation: grow 2s ease-in-out forwards;
}

@-webkit-keyframes grow{
    to{
    width: 100%;
    }
}
@-moz-keyframes grow{
    to{
    width: 100%;
    }
}
@-ms-keyframes grow{
    to{
    width: 100%;
    }
}
@keyframes grow{
    to{
    width: 100%;
    }
}

@-webkit-keyframes fadeInBorders {
    to{
    box-shadow: inset -0.4rem 0 0 0 white, inset 0.4rem 0 0 0 white;
    }
}
@-moz-keyframes fadeInBorders {
    to{
    box-shadow: inset -0.4rem 0 0 0 white, inset 0.4rem 0 0 0 white;
    }
}
@-ms-keyframes fadeInBorders {
    to{
    box-shadow: inset -0.4rem 0 0 0 white, inset 0.4rem 0 0 0 white;
    }
}
@keyframes fadeInBorders {
    to{
    box-shadow: inset -0.4rem 0 0 0 white, inset 0.4rem 0 0 0 white;
    }
}

/* ----------- End of Landing Panel CSS ---------- */

/* ----------- Beginning of Navigation CSS ---------- */

#navmenu { position: absolute; margin: 0 auto;}
.bottomnav { color: #d0d0d0; text-decoration: none; transition: .2s all;}
.bottomnav:hover { color: #fff; text-decoration: none; }

.bnav {
align-content:flex-start;
-webkit-box-shadow: -17px 14px 17px -4px rgba(34,34,34,1);
-moz-box-shadow: -17px 14px 17px -4px rgba(34,34,34,1);
box-shadow: -17px 14px 17px -4px rgba(34,34,34,1);
display: -webkit-flexbox;      /* OLD - iOS 6-, Safari 3.1-6 */
display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
display: -ms-flexbox;      /* TWEENER - IE 10 */
display: -webkit-flex;
display: flex;
flex-direction: column;
-webkit-flex-flow: column;
flex-wrap: wrap;
height: 200px;
border-radius: 0.4rem 0.4rem 0.2rem 0.2rem;
background-color: #383838;
border-radius: 3px;
left: -198px;
list-style: none;
padding: 10px;
position: fixed;
text-align: center;
top: 50px;
transition: .5s all;
width: 218px;
z-index: 2000;
}

.bnav:hover {
  left: 0px;
}

.bnav i{
margin-top: 2px;
display: block; 
float: left;
width: 50px;
height: 20px;
text-align: center;
}


.bnav li {
display: -webkit-flexbox;      /* OLD - iOS 6-, Safari 3.1-6 */
display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
display: -ms-flexbox;      /* TWEENER - IE 10 */
display: -webkit-flex;
display: flex;
flex-direction:column;
flex-wrap: wrap;
-webkit-flex-flow: column;
justify-content: center;
text-align: left;
margin-left: -10px;
padding-top: 5px;
text-transform: uppercase;
letter-spacing: 1px;
width: auto;
}

.bnav li a{
display: block;
}

.bnav:after {
  background-color: #383838;
  position: absolute;
  content: '';
  width: 28px;
  height: 4px;
    left: 174px;
  display: block;
  margin: 0 29px;
  border-top: 4px solid white;
  border-bottom: 12px double white; 
  opacity: 0.5;
  top: 100px;
  transition: .3s all;
  cursor: pointer;
}
.bnav:hover:after {
  opacity: 1;
}

/* ----------- End of Navigation CSS ---------- */

/* ----------- First Content Panel CSS ---------- */

#first_content_panel{
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-flex-flow: row wrap;
flex-direction: row;
flex-wrap: wrap;
flex: 1 50%;
}

#first_content_panel span{
color: white;
}

#first_content_panel hr{
border: solid #ddd;
border-width: 1px 0 0;
width: 40px;
}

#superscript_flex{
display: flex;
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 auto;
  }
}
@media all and (min-width: 800px) {
  #mission_panel {
    flex: 3 0px;
  }

  #asideleft {
    order: 1;
  }

  #mission_panel {
    order: 2;
  }

  #asideright {
    order: 3;
  }
}

#sbplogo{
background-image: url(../images/sbpschoollogo.png);
background-position: center;
background-repeat: no-repeat;
background-size: contain;
display: block;
height: 85px;
margin-left: 50px;
width: 250px;
}

#text_welcome{
color: #ddd;
font-size: 16px;
font-style: italic;
font-weight: 200;
line-height: 20px;
margin: -50px 0 0 340px;
text-align: left;
width: 73%;
}

.scale{
position: relative;
text-shadow: 2px 2px 2px #000;
top: 160px;
-webkit-transform: scale(.95);
  -moz-transform: scale(.95);
  -ms-transform: scale(.95);
  -o-transform: scale(.95);
  transform: scale(.95);
  -webkit-transition: -webkit-transform 1300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: -moz-transform 1300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: -ms-transform 1300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: -o-transform 1300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.aside{
width: 20%;
}

#mission_panel{
display: block;
background: url(../images/monestary.png);
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
}

#mission_panel:hover{
background: #383838;
}

#mission_panel p{
color: white;
line-height: 25px;
margin-left: 50px;
margin-right: 50px;
text-indent: 20px;
text-align: justify;
opacity: 0;
}

#mission_panel:hover .scale{
top:10px;
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);
text-shadow: none;
}

#mission_panel:hover p{
-webkit-animation: fadein ease 4s forwards; /* Safari and Chrome */
-moz-animation: fadein ease 4s forwards; /* Firefox */
-ms-animation: fadein  ease 4s forwards; /* Internet Explorer */
-o-animation: fadein ease 4s forwards; /* Opera */
animation: fadein ease 4s forwards;
-webkit-animation-iteration-count: 1;
-moz-animation-iteration-count: 1;
-ms-animation-iteration-count: 1;
-o-animation-iteration-count: 1;
animation-iteration-count: 1;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


#asideleft{
display: block;
background: url(../images/courtyard.png);
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
}

#asideright{
display: block;
background: url(../images/bench.png);
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
}

.lineleft, .lineright{
width: 40px;
}

.lineleft{
float:left;
margin-right: -85px;
margin-top: 16px;
text-align: right;
}

.lineright{
float: right;
margin-left: -85px;
margin-top: 16px;
text-align: left;
}

.panel_superscript{
font-size: 25px;
font-style: italic;
font-weight: 100;
margin-bottom: -20px;
text-align: center;
text-transform: uppercase;
display: block;
width: 50%;
}

.panel_title_text{
clear: both;
display: block;
text-align: center;
font-size: 40px;
font-weight: 700;
}


/* ----------- End of First Content Panel CSS ---------- */








/*------MEDIA QUERY CSS------*/
@media screen and (max-width: 330px) and (max-height: 570px){
/*------iPhone 4 and 5 CSS------*/

    .grow_border{
    text-indent: -10px;
    }
    
    #landing_title{
    top: 280px;
    font-size: 8px;
    letter-spacing: 0px;
    }
    
    #landing_subtitle{
    top: 380px;
    font-size: 10px;
    font-weight: 600;
    }
}

@media screen and (max-width: 742px) and (max-height: 1110px){
/*------Cellphone CSS------*/

    #landing_title{
    top: 300px;
    font-size: 20px;
    letter-spacing: 1px;
    }
    
    #landing_subtitle{
    top: 400px;
    font-size: 14px;
    font-weight: 600;
    }
}

/*------Horizontal Cellphone View------*/
/*------For all devices smaller than an iPhone 6------*/
@media screen and (max-width: 670px) and (max-height: 395px){

    #landing_title{
    top: 120px;
    font-size: 20px;
    letter-spacing: 1px;
    }
    
    #landing_subtitle{
    top: 220px;
    font-size: 14px;
    font-weight: 600;
    }
}

/*------End of Cellphone CSS------*/


/*------Tablet CSS------*/

@media screen and (min-width: 743px) and (max-width: 1280px) and (max-height: 1100px){
/*------Cellphone CSS------*/

    .grow_border{
    text-indent: -10px;
    }
    
    #landing_title{
    top: 280px;
    font-size: 40px;
    letter-spacing: 4px;
    }
    
    #landing_subtitle{
    top: 410px;
    font-size: 20px;
    font-weight: 600;
    }
    #text_welcome{
    margin: -55px 0 0 340px;
    text-align: left;
    width: 60%;
}
}

/*------Horizontal Tablet View------*/
/*------Nexus 7 Tablet View------*/
@media screen and (min-width: 960px) and (max-width: 1260px) and (max-height: 601px){

    #landing_title{
    top: 200px;
    font-size: 40px;
    letter-spacing: 4px;
    }
    
    #landing_subtitle{
    top: 330px;
    font-size: 20px;
    font-weight: 600;
    }
}

/*------End of Tablet CSS------*/

/*------Beginning of Small Browser CSS------*/
@media screen and (max-width: 850px) and (max-height: 1100px){

    #sbplogo{
    margin: 0 auto;
    width: 100%;
    }
    
    #text_welcome{
    margin: 20px 10px 10px 33px;
    text-align: left;
    width: 90%;
    }
    
}

/*------End of Small Browser CSS------*/
